@charset "UTF-8";

.bottom-footer-box{margin:0 auto;padding:20px 0 35px;max-width:1400px;}
.footer-info-box .address-box:after{content:'';display:block;clear:both;}
.footer-info-box .address-box{padding:0 0 20px;}
.footer-info-box .address-box address{float:left;padding:0 20px 0 0;box-sizing:border-box;}
.footer-info-box .address-box .logo-box{float:right;width:140px;}
.footer-info-box .contact-box{padding:0 0 20px;}
.footer-info-box .contact-box:after{content:'';display:block;clear:both;}
.footer-info-box .contact-box li{float:left;padding:0 0 5px;font-size:1rem;line-height:1.5rem;}
.footer-info-box .contact-box li:nth-of-type(2n-1){clear:both;padding-right:14px;}
.footer-info-box .copyright{font-size:1rem;line-height:1.5rem;}

@media screen and (max-width:1024.98px) {	
	.bottom-footer-box{padding:20px 20px 35px;}
}
@media screen and (max-width:768px) {
	.bottom-footer-box{padding:10px 20px 35px;}
	.footer-info-box .address-box{padding:0 0 10px;}
	.footer-info-box .address-box address{max-width:calc(100% - 92px);}
	.footer-info-box .address-box .logo-box{width:92px;}
	.footer-info-box .contact-box{padding:0 0 10px;}
	.footer-info-box .contact-box li{padding:0 0 2px;font-size:0.928rem;line-height:1.428rem;}
	.footer-info-box .copyright{font-size:0.928rem;line-height:1.428rem;}
}